DEFAULT_USERNAME="image"
NETWORK=dhcp
IP_ADDRESS=""
NET_MASK=""
#GATEWAY=""
SERVER="myserver"
MOUNT_TYPE="cifs"
MOUNT_OPTIONS="iocharset=iso8859-15,username=$DEFAULT_USERNAME"
MOUNT_DEVICE="//$SERVER/images"
MOUNT_POINT="/mnt/images"
AUTO_UNMOUNT=1
TARGET_DIR="temp"
CUSTOM_POST_SCRIPT=""

