# Network type to use. Options are "dhcp", "static" or "none". It also allows a fallback option like "dhcp,static"
NETWORK=dhcp,static

# The network settings to use for static network mode
IPADDRESS="132.228.38.8"
NETMASK="255.255.255.0"
GATEWAY="132.229.38.1" 

# In case a network filesystem (like SMBFS/CIFS) is used, the server to use
SERVER="132.229.46.12"

# In case a network filesystem (like SMBFS/CIFS) is used, the default username to use
DEFAULT_USERNAME="image"

# The device to be mounted and its type/options. Comment out in case you want to use a local already mounted filesystem
MOUNT_DEVICE="//$SERVER/images"
MOUNT_TYPE="cifs"
MOUNT_OPTIONS="iocharset=utf8,username=$DEFAULT_USERNAME"

# Automatically unmount filesystems we mount?
AUTO_UNMOUNT=1

# The image root directory. This is also the mount point for MOUNT_DEVICE, when used
IMAGE_ROOT="/mnt/images"

# The default image directory/name to use for restore. This is a subdirectory of the IMAGE_ROOT
IMAGE_RESTORE_DEFAULT="win7-x64"

# The image target directory/name to use where new image directories are created. This is a subdirectory of the IMAGE_ROOT
IMAGE_BACKUP_DIR="temp"

# The default image program to use for creating images
# Options are:
# pc - partclone
# pi - partimage
# fsa - fsarchiver
# ddgz - dd + gzip
DEFAULT_IMAGE_PROGRAM="pc"

# Optional custom script to run at the end of the backup script
BACKUP_POST_SCRIPT=""

