DEFAULT_USERNAME="image"
NETWORK=dhcp
IP_ADDRESS=""
NET_MASK="255.255.255.0"
#GATEWAY=""
SERVER="myserver"
MOUNT_TYPE="cifs" 
MOUNT_OPTIONS="iocharset=utf8,username=$DEFAULT_USERNAME"
MOUNT_DEVICE="//$SERVER/images"
MOUNT_POINT="/mnt/images"
AUTO_UNMOUNT=1
DEFAULT_DIR="win7-x64"

